<div class="gallery carousel carousel-slider">
    <% if (item.photos.length){ %>
      <% item.photos.forEach(function(photo){ %>
        <span class="carousel-item"><img class="carousel-image" src="<%- photo %>"></span>
      <% }); %>
    <% } else { %>
      <img class="carousel-item" src="<%- item.photos %>">
    <% } %>
  <div class="control">
    <div class="carousel-control prev">
        <i class="fa fa-left"></i>

    </div>
    <div class="carousel-control next">
        <i class="fa fa-right"></i>
    </div>
  </div>
</div>
