<% if (item.tags && item.tags.length > 0){ %>
  <%
  var tags = [];
  item.tags.forEach(function(tag){
    tags.push(tag.name);
  });
  %>
  <div class="tags">
    标签：
    <%- tags.join(', ') %>
  </div>
<% } %>