<% if (item.tags && item.tags.length > 0){ %>
    <div class="tags-row">
        <% item.tags.forEach(function(tag) { %>
            <a href="<%= config.root + tag.path %>" class="article-tag teal"><%= tag.name %></a>
        <% }); %>
    </div>
<% } %>
