<% if (item.tags && item.tags.length > 0){ %>
    <%
        var tags = [];
        item.tags.forEach(function(tag){
            tags.push('<a class="btn btn-info" href="' + config.root + tag.path + '">' + tag.name + '</a>');
        });
    %>
    <div class="tags-row">
        标签：<%- tags.join('') %>
    </div>
<% } %>