<div id="article-list">
    <% page.posts.each(function(item){ %>
        <%- partial('_partial/simple_article', {item: item, index: true, showTags:true, showEntry: true}) %>
    <% }); %>
</div>
<div>
    <a class="btn btn-funky btn-xlarge btn-block btn-loadmore" href="javascript:void(0)">点击加载更多</a>
</div>

<script>
    (function($) {
        //当内容区内容不够长时，设置内容区域的高度使footer沉底
        var resizeContentWrapper = function() {
            var contentHeight = Math.floor($('#content-wrapper .container-center').height()),
                headerHeight = Math.floor($('#page-header').height()),
                footerHeight = Math.floor($('#page-footer').height()),
                minHeight = Math.floor($(window).height() - headerHeight - footerHeight);
            if(contentHeight < minHeight) {
                $('#content-wrapper').height(minHeight);
            } else {
                $('#content-wrapper').css({height: 'auto'});
            }
        };

        //按一定数目显示博文条目
        var pagination = function() {
            var PER_PAGE_NUM = showNum = 5,
                i,
                initHeight = 0,
                outerHeightList = [],
                articleList = $('#content-wrapper article'),
                articleNum = articleList.length;

            for(i = 0; i < articleList.length; i++) {
                outerHeightList.push($(articleList[i]).outerHeight());
                if(i >= PER_PAGE_NUM) {
                    $(articleList[i]).hide();
                }
            }

            $('.btn-loadmore').click(function() {
                var deltaH = 0,
                    toShowList = [],
                    duration = 1000;
                for(i = showNum, showNum += PER_PAGE_NUM; i < showNum; i++) {
                    if(i >= articleList.length) {
                        $('.btn-loadmore').html("已经到底啦");
                        break;
                    }
                    toShowList.push($(articleList[i]));
                    deltaH += outerHeightList[i];
                }
                
                //执行文章列表高度加大动画
                $('#article-list').animate({
                    height: "+=" + deltaH
                }, duration, function() {
                    //执行完毕后，每篇文章淡入动画
                    for(i = 0; i < toShowList.length; i++) {
                        toShowList[i].css({opacity: 0});
                        toShowList[i].show();
                        toShowList[i].animate({
                            opacity: 1
                        }, duration);
                    }
                });
                //滚动条滚动动画
                $('body, html').animate({
                    scrollTop: "+=" + deltaH
                }, duration);
            });
            resizeContentWrapper();
        };

        $(document).ready(pagination);
    })(jQuery);
</script>

<!-- 新功能导航 -->
<%- partial('_partial/feature_guide') %>
