<%- partial('_partial/slider') %>

<div id="article-list" class="container main-container">
    <% page.posts.each(function(item){ %>
        <%- partial('_partial/simple_article', {item: item, index: true, showEntry: true}) %>
    <% }); %>

    <%- partial('_partial/pagination') %>
</div>
