<% var item = page; %>

<article class="reading-page">
    <div class="article-title article-title-big">
        <h1>读书</h1>
    </div>

    <div class="entry">
        <%- item.content %>
        <div class="reading-books-content">
            <h1>
                在读
                <small class="light"><span class="book-num"></span>本</small>
            </h1>
            <ul class="books-content">

            </ul>
        </div>
        <div class="readed-books-content">
            <h1>
                已读
                <small class="light"><span class="book-num"></span>本</small>
            </h1>
            <ul class="books-content">

            </ul>
        </div>
        <div class="wanted-books-content">
            <h1>
                想读
                <small class="light"><span class="book-num"></span>本</small>
            </h1>
            <ul class="books-content">

            </ul>
        </div>
    </div>
</article>
<script type="text/custom-template" id="book-item-template">
<li>
    <div class="book-item">
        <div class="book-item-head">
            <a class="book-cover" href="javascript:void(0);">
                <img src="{{cover}}" class="img" title="{{title}}" alt="{{title}}">
            </a>
        </div>
        <div class="book-item-body">
            <p class="book-title">{{title}}</p>
            <p class="book-review">简评：<span>{{review}}</span></p>
            <p class="book-score">推荐指数：<span>{{score}}</span></p>
            <a href="{{doubanLink}}" class="btn btn-warning btn-to-douban pull-right" target="blank">去豆瓣看看</a>
            <div class="clearfix"></div>
        </div>
    </div>
</li>
</script>

<script> type="text/javascript">
(function($) {
    //当内容区内容不够长时，设置内容区域的高度使footer沉底
    var loadBookItem = function() {
        $.ajax({
            type: 'GET',
            url: '/data/test.json',
            dataType: 'json',
            success: function(data) {
                var i, bookClass, itemData, $bookItem, 
                    $list;
                //循环大类别
                for(bookClass in data) {
                    $list = $('.' + bookClass).find('.books-content');
                    for(i in data[bookClass]) {
                        itemData = data[bookClass][i];
                        $bookItem = createBookItem(itemData);
                        $list.append($bookItem);
                    }
                    $('.' + bookClass).find('.book-num').html(data[bookClass].length);
                }
                $('#content-wrapper').css('height', 'auto');
            }
        });

        function createBookItem(data) {
            var templateHtml = $('#book-item-template').html(),
                key, itemRegExp;
            for(key in data) {
                itemRegExp = new RegExp('{{' + key + '}}', 'g');
                templateHtml = templateHtml.replace(itemRegExp, data[key]);
            }
            return $(templateHtml);
        }
    };

    $(document).ready(loadBookItem);
})(jQuery);
</script>

<%- partial('_partial/plugin/comment', {item: page}) %>
