<% if (site.tags.length){ %>
<%
  var extraClass = '';
  if (idx.current % 3 === 0) {
    extraClass += ' first';
    if (idx.current >= 3) {
      extraClass += ' newline';
    }
  }
%>
<div class="widget tagcloud<%= extraClass %>">
  <h3 class="title"><%= __('tagcloud') %></h3>
  <div class="entry">
    <%- tagcloud(site.tags, {}) %>
  </div>
</div>
<% } else {
  idx.current -= 1
} %>