@import 'nib'

// 全局变量
// @import '_base/variable'
@import '_base/skin_ray'
// 基本布局
@import '_base/layout'

// 各组件布局
@import '_partial/header'
@import '_partial/article'
@import '_partial/footer'
@import '_partial/sidemenu'

// 评论
@import '_partial/comment'
// @import '_partial/index'
// @import '_partial/archive'

// 语法高亮
@import '_partial/syntax'