@import 'nib'

// 全局变量
@import '_base/variable'
@import '_base/icons.css'

// 基本布局
@import '_base/lib_customize'
@import '_base/layout'

// 各组件布局
@import '_partial/header'
@import '_partial/article'
@import '_partial/footer'
@import '_partial/slider'
@import '_partial/side_nav'
@import '_partial/tablecontents'
@import '_partial/other'

// 评论
@import '_partial/index'
// @import '_partial/archive'

// 语法高亮
@import '_partial/syntax'

// 特殊页面
@import '_partial/reading'
