@import 'nib'

// 全局变量
@import '_base/variable'
@import '_base/icons.css'

// 重置基础库
@import '_base/lib_customize'
// 基本布局
@import '_base/layout'

// 各组件布局
@import '_partial/link_context'
@import '_partial/header'
@import '_partial/search'
@import '_partial/article'
@import '_partial/footer'
@import '_partial/slider'
@import '_partial/side_nav'
@import '_partial/tablecontents'
@import '_partial/other'

// 语法高亮
@import '_partial/syntax'

// 读书页面
@import '_partial/reading'
// 关于页面
@import '_partial/about'
// @import '_partial/archive'
