html
    font-family: "Lato", "sans-serif", "微软雅黑", "Helvetica Neue"
    background color-background
    background color-background linear-gradient(#00ADE3, #080046, #000000) fixed

body
    background color-body
    padding-top 0

p 
    color color-font

a
    color color-a
    transition color .5s

a:hover
    color color-a-hover
    transition color .5s

a.btn
    transition background-color .5s

a.btn:hover
    color #fff
    transition background-color .5s

li
    line-height 30px

.split-line
    height 1px
    width auto
    background #ccc
    overflow hidden
    margin-top 10px

.page-sub-title
    font-size 36px
    font-weight bold
    color color-page-sub-title

.container-center
    @media (min-width: 777px)
        width 70%
    @media (max-width: 767px)
        width 90%

.main-content
    padding 20px 0

#comment
    margin-top 40px

.btn-loadmore
    margin-top 20px
    opacity 0.5

