.split-line
    height 1px
    width auto
    background #ccc
    overflow hidden
    // margin-top 10px

.page-sub-title
    font-size 36px
    font-weight bold
    color color-page-sub-title
    margin-top 20px

.container-center
    @media (min-width: 777px)
        width 70%
    @media (max-width: 767px)
        width 90%

.main-content
    padding 20px 0

#comment
    margin-top 40px
