html
    font-family: "Lato", "微软雅黑", "Helvetica Neue"
    background color-background
    background color-background linear-gradient(#00ADE3, #080046, #000000) fixed

body
    background color-body
    padding-top 0

.container, .navbar .container
    width 1170px
    margin 0 auto
    // padding 0 page-padding

.container:after
    clear both

p 
    color #fff
    // border-radius 0 0 8px 8px
    // border-top 1px solid #fff
    // margin 0
    // font 18px/1.5 font-title
    // color color-font
    // font-weight 300
    // background url(image-background) fixed

// .wrapper
//   width page-width
//   margin 0 auto
//   background #DEDEDE
//   border-radius 8px
//   box-shadow rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px

// .widget-wrapper
//   position fixed
//   top body-padding-top
//   background-color rgb(2, 88 ,95)
//   border-radius 8px
//   box-shadow rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px

// header, section, footer
//   display block

// a
//   color color-link
//   text-decoration none

// p
//   margin 0 0 20px
//   padding 0

// strong
//   color color-strong
//   font-weight 700

// .content
//   background linear-gradient(#FFFFFF, #EEEEEE 3000px)
//   border-radius 0 0 8px 8px
//   border-top 1px solid #fff

// .clearfix
//   zoom 1

//   &:before,
//   &:after
//     content ""
//     display table

//   &:after
//     clear both
