a
    color #1e88e5
    &:hover
        color #42a5f5

img
    width 100%

strong
    font-weight bold

@media only screen and (min-width: 993px)
    .container
        width 60%

.card .card-content p
    margin 0.5em 0
    
.material-placeholder
    text-align center
    width 75%
    margin 0 auto

.materialboxed
    display initial
    width 100%

.main-container
    margin-top 30px
