a
    color #1e88e5

img
    width 100%
    padding 4px
    background-color #F5F5F5
    border 1px solid #ddd
    border-radius 4px

strong
    font-weight bold
    
blockquote p
    margin 0 !important
    
nav ul
    a:hover
        background-color rgba(0, 0, 0, 0)

.card
    margin-top 0
    
    .card-content p
        margin 0.5em 0

.breadcrumb
    font-size 1.2em

.material-placeholder
    text-align center
    width 75%
    margin 0 auto

.materialboxed
    display initial
    width 100%

.main-container
    margin-top 30px
    
.mt-0
    margin-top 0

// 将默认的图标字体换为FontAwesome
.breadcrumb:before
    content "\f105"
    font-family: FontAwesome

// FontAwesome
.fa
    margin-right 5px
