html, body
    font-family "sans-serif", "微软雅黑", "Helvetica Neue"

.mdl-navigation__link
      display -webkit-box !important
      display -webkit-flex !important
      display -ms-flexbox !important
      display flex !important
      -webkit-box-orient horizontal
      -webkit-box-direction normal
      -webkit-flex-direction row
          -ms-flex-direction row
              flex-direction row
      -webkit-box-align center
      -webkit-align-items center
          -ms-flex-align center
              align-items center
      color rgba(255, 255, 255, 0.56)
      font-weight 500
      font-size 16px

.mdl-navigation__link .material-icons
    margin-right: 16px;
