/* 颜色 */

//头部背景颜色
color-header-background = #4581be
//头部按钮hover背景
color-header-button-hover = #3397da
//尾部背景颜色
color-footer-background = #304a68

//背景
color-body = #94b0c9
//正文字体
color-font = #fff
//文章标题颜色
color-title = #304a68
//标签背景颜色
color-tag = #304a68

//尾部文字颜色
color-footer-text = #fff
color-footer-a = #9fc9e9
color-footer-a-hover = #16a085

color-link = #069
color-strong = #333

/* 渐变颜色设置 */

// Font
font-default = "Helvetica Neue", "Helvetica", Arial, sans-serif
font-serif = "Georgia", serif
font-mono = Consolas, "微软雅黑", Monaco, Menlo, Courier New, monospace
font-title = "微软雅黑", "Droid Serif", Helvetica Neue, Helvetica, Arial, sans-serif

@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic,400,700")

// 全局左右边距
header-footer-height-padding = 16px
body-padding-top = 50px