// Image
image-background = 'images/checker.png'

// Color
color-background = #6C7989
color-font = #555
color-link = #069
color-strong = #222

// Font
font-default = "Helvetica Neue", "Helvetica", Arial, sans-serif
font-serif = "Georgia", serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-title = "Droid Serif", Helvetica Neue, Helvetica, Arial, sans-serif

@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic,400,700")

font-icon = FontAwesome
font-icon-path = 'fonts/fontawesome-webfont'

@font-face {
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  src url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg')
}

// Width
page-width = 680px