// Image
image-background = 'images/checker.png'

// Color
color-background = rgb(0, 40, 90)
color-font = #444
color-link = #069
color-strong = #333

// Font
font-default = "Helvetica Neue", "Helvetica", Arial, sans-serif
font-serif = "Georgia", serif
font-mono = Consolas, "微软雅黑", Monaco, Menlo, Courier New, monospace
font-title = "微软雅黑", "Droid Serif", Helvetica Neue, Helvetica, Arial, sans-serif

@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic,400,700")

// Width
page-width = 800px
body-padding-top = 50px