<%- partial('plugin/google_analytics') %>
<%- partial('plugin/google_code_prettify') %>
<script>
    (function($) {
        //当内容区内容不够长时，设置内容区域的高度使footer沉底
        var resizeContentWrapper = function() {
            var contentHeight = Math.floor($('#content-wrapper .container-center').height()),
                headerHeight = Math.floor($('#page-header').height()),
                footerHeight = Math.floor($('#page-footer').height()),
                minHeight = Math.floor($(window).height() - headerHeight - footerHeight);
            if(contentHeight < minHeight) {
                $('#content-wrapper').height(minHeight);
            } else {
                $('#content-wrapper').css({height: 'auto'});
            }
        };

        //响应式侧边栏
        var initJPanelMenu = function() {
            var jPM = $.jPanelMenu({
                menu: '#jPanelMenu-menu-side',
                duration: 500
            });
            jPM.on();
        };

        //按一定数目显示博文条目
        var pagination = function() {
            var PER_PAGE_NUM = showNum = 5,
                i,
                initHeight = 0,
                outerHeightList = [],
                articleList = $('#content-wrapper article'),
                articleNum = articleList.length;

            for(i = 0; i < articleList.length; i++) {
                outerHeightList.push($(articleList[i]).outerHeight());
                if(i >= PER_PAGE_NUM) {
                    $(articleList[i]).hide();
                }
            }

            $('.btn-loadmore').click(function() {
                var deltaH = 0,
                    toShowList = [],
                    duration = 1000;
                for(i = showNum, showNum += PER_PAGE_NUM; i < showNum; i++) {
                    if(i >= articleList.length) {
                        $('.btn-loadmore').html("已经到底啦");
                        break;
                    }
                    toShowList.push($(articleList[i]));
                    deltaH += outerHeightList[i];
                }
                
                //执行文章列表高度加大动画
                $('#article-list').animate({
                    height: "+=" + deltaH
                }, duration, function() {
                    //执行完毕后，每篇文章淡入动画
                    for(i = 0; i < toShowList.length; i++) {
                        toShowList[i].css({opacity: 0});
                        toShowList[i].show();
                        toShowList[i].animate({
                            opacity: 1
                        }, duration);
                    }
                });
                //滚动条滚动动画
                $('body, html').animate({
                    scrollTop: "+=" + deltaH
                }, duration);
            });
            resizeContentWrapper();
        };

        //检测是否有新的功能，并提示用户
        var checkNewFeature = function() {
            //设置本地存储
            var setStorage = (typeof window.localStorage === undefined) ?
                //若支持HTML5的localStorage则使用localStorage
                function(key, value) {
                    window.localStorage[key] = value;
                } : 
                //否则使用cookie存储
                function(key, value){
                    var exdate = new Date(),
                        expireDays = 15;    //cookie过期时间15天
                    exdate.setDate(exdate.getDate() + expireDays);
                    document.cookie = key + '=' + escape(value) + ';expires=' + exdate.toGMTString();
                };
            //获取本地存储
            var getStorage = (typeof window.localStorage === undefined) ?
                function(key) {
                    return window.localStorage[key] || null;
                } :
                function(key) {
                    if (document.cookie.length > 0) {
                        var start = document.cookie.indexOf(key + '='),
                            end;
                        if (start !== -1) {
                            start = start + key.length + 1;
                            end = document.cookie.indexOf(';', start);
                            if (end === -1) {
                                end = document.cookie.length;
                            }
                            return unescape(document.cookie.substring(start, end));
                        } else {
                            return null;
                        }
                    }
                    return null;
                };

            var 
                //新功能特征值，以此识别一个功能点
                FEATURE_CODE = '588ba45',
                //新功能高亮提醒的jQuery对象
                FEATURE_DOM = $('.brand'),
                //新功能描述
                FEATURE_DESCRIPTION = '如你所见，这是新功能导航哦。以后如果博客有新功能的话，就会通过这个来让大家知道>_<';

            //存储的key
            var storageKey = 'raytaylor_world_feature_notify',
                lastValue = getStorage(storageKey);

            //若本地存储没有特征值，或特征值与最新发布的不一致，则提示用户
            if(lastValue === null || lastValue !== FEATURE_CODE){
                //生成阴影div的方法
                function newShadow(className) {
                    var $shadow = $('<div class="' + className + '"></div>');
                    return $shadow;
                }

                function setOffsetSize(obj, offset, size) {
                    obj.css({left: offset.left, top: offset.top});
                    obj.width(size.width);
                    obj.height(size.height);
                }

                var 
                    $featureBox = $('.feature-box'),
                    $shadowContainer = $('.shadow-container'),
                    $featureGuideContainer = $('.feature-guide-container'),
                    
                    $shadowLeft = newShadow('shadow'),
                    $shadowTop = newShadow('shadow'),
                    $shadowRight = newShadow('shadow'),
                    $shadowBottom = newShadow('shadow'),
                    $shadowLight = newShadow('shadow-light');

                function resizeAllShadow() {
                    var $body = $('body'),
                    marginBottom = 3,    //for IE
                    domWidth = FEATURE_DOM.outerWidth(),
                    domHeight = FEATURE_DOM.outerHeight(),
                    domLeft = Math.round(FEATURE_DOM.offset().left),
                    domTop = Math.round(FEATURE_DOM.offset().top),
                    domRight = Math.round(domLeft + domWidth),
                    domBottom = Math.round(domTop + domHeight);

                    setOffsetSize($shadowLeft, {left: 0, top: 0}, {width: domLeft, height: $body.height() - 5});
                    setOffsetSize($shadowTop, {left: domLeft, top: 0}, {width: domWidth, height: domTop});
                    setOffsetSize($shadowRight, {left: domRight, top: 0}, {width: $body.width() - domBottom, height: $body.height() - 5});
                    setOffsetSize($shadowBottom, {left: domLeft, top: domBottom}, {width: domWidth, height: $body.height() - domBottom - 5});
                    setOffsetSize($shadowLight, {left: domLeft, top: domTop}, {width: domWidth, height: domHeight});

                    //填充并定位描述内容
                    $featureBox.find('.feature-description').html(FEATURE_DESCRIPTION);
                    $featureBox.offset({left: domLeft, top: domBottom + 20});
                }

                resizeAllShadow();
                $(window).resize(resizeAllShadow);

                //添加阴影
                $shadowContainer.append($shadowLeft)
                .append($shadowTop)
                .append($shadowRight)
                .append($shadowBottom)
                .append($shadowLight);

                //显示新功能描述
                $featureGuideContainer.fadeIn('slow');
                //绑定关闭按钮事件
                $featureGuideContainer.find('.btn-i-know').click(function() {
                    $featureGuideContainer.fadeOut('slow');
                    setStorage(storageKey, FEATURE_CODE);
                });
            }
        };

        $(document).ready(pagination);
        $(document).ready(resizeContentWrapper);
        $(document).ready(initJPanelMenu);
        $(document).ready(checkNewFeature);
        
        $(window).resize(resizeContentWrapper);
    })(jQuery);
</script>