<div class="center-align">
    <div class="construction-container">
            <div class="center-align">
                <i class="fa fa-cog fa-spin" style="font-size: 8rem;"></i>
            </div>
            <h4><%= __('construction') %></h4>
            <a href="/" class="waves-effect waves-light btn green"><%= __('go_back_home') %></a>
    </div>
</div>
