<div class="center-align">
    <div class="construction-container">
            <div class="center-align">
                <i class="material-icons" style="font-size: 8rem;">build</i>
            </div>
            <h4>页面建设中...</h4>
            <a href="/" class="waves-effect waves-light btn green">回到首页</a>
    </div>
</div>
