<div class="feature-guide-container">
    <div class="shadow-container"></div>
    <div class="feature-box">
        <p class="feature-description"></p>
        <a class="btn btn-i-know pull-right" href="javascript:void(0);">我知道了</a>
        <div class="clearfix"></div>
    </div>
</div>