<div class="feature-guide-container">
    <div class="shadow-container"></div>
    <div class="feature-box">
        <p class="feature-description"></p>
        <a class="btn btn-i-know pull-right" href="javascript:void(0);">我知道了</a>
        <div class="clearfix"></div>
    </div>
</div>
<script>
    (function($){
        //检测是否有新的功能，并提示用户
        var checkNewFeature = function() {
            //设置本地存储
            var setStorage = 
            (typeof window.localStorage !== 'undefined') && (typeof window.localStorage !== 'unknown') ?
                //若支持HTML5的localStorage则使用localStorage
                function(key, value) {
                    window.localStorage[key] = value;
                } : 
                //否则使用cookie存储
                function(key, value){
                    var exdate = new Date(),
                        expireDays = 15;    //cookie过期时间15天
                    exdate.setDate(exdate.getDate() + expireDays);
                    document.cookie = key + '=' + escape(value) + ';expires=' + exdate.toGMTString();
                };
            //获取本地存储
            var getStorage = 
            (typeof window.localStorage !== 'undefined') && (typeof window.localStorage !== 'unknown') ?
                function(key) {
                    return window.localStorage[key] || null;
                } :
                function(key) {
                    if (document.cookie.length > 0) {
                        var start = document.cookie.indexOf(key + '='),
                            end;
                        if (start !== -1) {
                            start = start + key.length + 1;
                            end = document.cookie.indexOf(';', start);
                            if (end === -1) {
                                end = document.cookie.length;
                            }
                            return unescape(document.cookie.substring(start, end));
                        } else {
                            return null;
                        }
                    }
                    return null;
                };

            <% if(config.new_feature_guide) { %>

            var 
                //新功能特征值，以此识别一个功能点
                FEATURE_CODE = '<%= config.new_feature_guide.hash_code %>',
                //新功能高亮提醒的jQuery查询字符串
                FEATURE_DOM = $('<%= config.new_feature_guide.query_string %>'),
                //新功能描述
                FEATURE_DESCRIPTION = '<%= config.new_feature_guide.description %>';

            //存储的key
            var storageKey = 'raytaylor_world_feature_notify',
                lastValue = getStorage(storageKey);

            //若本地存储没有特征值，或特征值与最新发布的不一致，则提示用户
            if(lastValue === null || lastValue !== FEATURE_CODE){
                //生成阴影div的方法
                function newShadow(className) {
                    var $shadow = $('<div class="' + className + '"></div>');
                    return $shadow;
                }

                function setOffsetSize(obj, offset, size) {
                    obj.css({left: offset.left, top: offset.top});
                    obj.width(size.width);
                    obj.height(size.height);
                }

                var 
                    $featureBox = $('.feature-box'),
                    $shadowContainer = $('.shadow-container'),
                    $featureGuideContainer = $('.feature-guide-container'),
                    
                    $shadowLeft = newShadow('shadow'),
                    $shadowTop = newShadow('shadow'),
                    $shadowRight = newShadow('shadow'),
                    $shadowBottom = newShadow('shadow'),
                    $shadowLight = newShadow('shadow-light');

                function resizeAllShadow() {
                    var $body = $('body'),
                    marginBottom = 3,    //for IE
                    domWidth = FEATURE_DOM.outerWidth(),
                    domHeight = FEATURE_DOM.outerHeight(),
                    domLeft = Math.round(FEATURE_DOM.offset().left),
                    domTop = Math.round(FEATURE_DOM.offset().top),
                    domRight = Math.round(domLeft + domWidth),
                    domBottom = Math.round(domTop + domHeight);

                    setOffsetSize($shadowLeft, {left: 0, top: 0}, {width: domLeft, height: $body.height() + 500});
                    setOffsetSize($shadowTop, {left: domLeft, top: 0}, {width: domWidth, height: domTop});
                    setOffsetSize($shadowRight, {left: domRight, top: 0}, {width: $body.width() - domBottom, height: $body.height() + 500});
                    setOffsetSize($shadowBottom, {left: domLeft, top: domBottom}, {width: domWidth, height: $body.height() - domBottom + 500});
                    setOffsetSize($shadowLight, {left: domLeft, top: domTop}, {width: domWidth, height: domHeight});

                    //填充并定位描述内容
                    $featureBox.find('.feature-description').html(FEATURE_DESCRIPTION);
                    $featureBox.offset({left: domLeft, top: domBottom + 20});
                }

                resizeAllShadow();
                $(window).resize(resizeAllShadow);

                //添加阴影
                $shadowContainer.append($shadowLeft)
                .append($shadowTop)
                .append($shadowRight)
                .append($shadowBottom)
                .append($shadowLight);

                //显示新功能描述
                $featureGuideContainer.fadeIn('slow');
                //绑定关闭按钮事件
                $featureGuideContainer.find('.btn-i-know').click(function() {
                    $featureGuideContainer.fadeOut('slow');
                    setStorage(storageKey, FEATURE_CODE);
                });
            }

            <% } %>
        };

        $(document).ready(checkNewFeature);
    })(jQuery);
</script>