<div class="navbar inverse-navbar navbar-fixed-top navbar-alpha">
  <div class="navbar-inner">
    <div class="container">
      <a href="#menu" class="menu-trigger meteocon" data-meteocon="M" data-toggle="collapse" data-target=".navbar-responsive-collapse">
         >
                <i class="icon-home icon-white"></i>
      </a>
      <div class="nav-collapse collapse">
        <nav id="menu">
          <ul class="nav">
            <li><a class="brand" href="index.html">Furatto</a></li>
            <li class=""><a href="buttons.html">Buttons</a></li>
            <li class=""><a href="images.html">Images</a></li>
            <li class=""><a href="tables.html">Tables</a></li>
            <li class=""><a href="base.html">Base</a></li>
            <li class=""><a href="grid.html">Grid</a></li>
            <li class=""><a href="forms.html">Forms</a></li>
            <li class="active"><a href="components.html">Components</a></li>
            <li class=""><a href="javascript.html">Javascript</a></li>
          </ul>
            <form action="" method="get" accept-charset="utf-8" class="search-navbar-form pull-right">
               <input type="text" name="" id="" value="" placeholder="Search" class="search-text-input">
            </form>
        </nav>
      </div>
    </div>
  </div>
</div>