<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"><%= config.title %></span>
        <div class="mdl-layout-spacer"></div>

        <nav class="mdl-navigation mdl-layout--large-screen-only">
            <% for (var i in theme.menu){ %>
                    <a class="mdl-navigation__link" href="<%- theme.menu[i] %>"><%= i %></a>
            <% } %>
        </nav>
    </div>
</header>
