<nav>
    <div class="nav-wrapper indigo">
        <span class="breadcrumb"><%= nav_head %></span>
        <% if (partial_path) { %>
            <%- partial(partial_path) %>
        <% } %>
        
        <% if (archive_html) { %>
            <%- archive_html %>
        <% } %>
    </div>
</nav>
