<nav class="page-nav hide-on-small-only">
    <div class="nav-wrapper <%= theme.color.page_nav %>">
        <span class="breadcrumb"><%= nav_head %></span>
        <% if (partial_path) { %>
            <%- partial(partial_path) %>
        <% } %>

        <% if (archive_html) { %>
            <%- archive_html %>
        <% } %>
    </div>
</nav>
