<div id="search" class="modal search-modal">
    <div class="row">
        <div class="input-field col s12">
              <input id="search-input" type="text">
              <label for="search-input"><%= __('menu.search') %></label>
        </div>

    </div>
    <div id="search-result" class="search-result col s12">

    </div>
</div>
