<aside id="sidebar">
  <% var idx = { current: 0 } %>
  <% theme.widgets.forEach(function(widget, i){ %>
    <% 
      if (i - idx.current > 1) {
        idx.current += 1
      } else {
        idx.current = i
      }
    %>
    <%- partial('../_widget/' + widget, { idx: idx }) %>
  <% }); %>
</aside>
<div class="clearfix"></div>