<div class="slider">
   <ul class="slides">
     <li>
       <img class="slider-image" src="http://lorempixel.com/580/250/nature/1">
       <div class="caption center-align">
         <h3>This is our big Tagline!</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
       </div>
     </li>
     <li>
       <img class="slider-image" src="http://lorempixel.com/580/250/nature/2">
       <div class="caption left-align">
         <h3>Left Aligned Caption</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
       </div>
     </li>
     <li>
       <img class="slider-image" src="http://lorempixel.com/580/250/nature/3">
       <div class="caption right-align">
         <h3>Right Aligned Caption</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
       </div>
     </li>
   </ul>
 </div>
