<% if (theme.disqus_shortname && page.comments){ %>
    <section id="comment">
        <div id="disqus_thread">
            <noscript>Please enable JavaScript to view the
                <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
            </noscript>
        </div>
    </section>
<% } else if (theme.duoshuo_shortname && page.comments){ %>
    <section id="comment">
        <div class="card">
            <div class="card-content">
                <!-- Duoshuo Comment BEGIN -->
                <div class="ds-thread" data-title="<%= item.title %>"></div>

                <script type="text/javascript">
                    var duoshuoQuery = {
                        short_name: "<%= config.duoshuo_shortname %>"
                    };
                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';
                        ds.async = true;
                        ds.src = (document.location.protocol == 'https:'
                            ? 'https:'
                            : 'http:') + '//static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                </script>
                <!-- Duoshuo Comment END -->
            </div>
        </div>
    </section>
<% } %>
