<!-- Donate Module -->
<div id="donate_module">
    <style type="text/css">
        .hidden {
            display: none;
        }
        .donate_bar a.btn_donate {
            display: inline-block;
            width: 82px;
            height: 82px;
            background: url("http://img.t.sinajs.cn/t5/style/images/apps_PRF/e_media/btn_reward.gif") no-repeat;
            _background: url("http://img.t.sinajs.cn/t5/style/images/apps_PRF/e_media/btn_reward.gif") no-repeat;

            -webkit-transition: background 0s;
            -moz-transition: background 0s;
            -o-transition: background 0s;
            -ms-transition: background 0s;
            transition: background 0s;
        }
        .donate_bar a.btn_donate:hover {
            background-position: 0 -82px;
        }
        .donate_bar .donate_txt {
            display: block;
            color: #9d9d9d;
            font: 14px/2 "Microsoft Yahei";
        }
        .bold {
            font-weight: bold;
        }

        img.qrcode {
            width: 90%;
            margin-bottom: 10px;
        }
        @media only screen and (min-width: 1025px) {
            img.qrcode {
                width: 40%;
                margin-right: 10px;
            }
        }

    </style>

    <!-- btn_donate & tips -->
    <div id="donate_board" class="donate_bar center">
        <a id="btn_donate" class="btn_donate" target="_self" href="javascript:;" title="Donate 打赏"></a>
        <span class="donate_txt">能看到这的都是真爱，打个赏呗=。=</span>
    </div>
    <!-- /btn_donate & tips -->

    <!-- donate guide -->
    <div id="donate_guide" class="donate_bar center hidden">
        <% for (var i in site.data.about.reward) { %>
        <img class="qrcode" src="<%= site.data.about.reward[i] %>" title="打赏"/>
        <% } %>
    </div>
    <!-- /donate guide -->

    <!-- donate script -->
    <script type="text/javascript">
        document.getElementById('btn_donate').onclick = function() {
            $('#donate_board').addClass('hidden');
            $('#donate_guide').removeClass('hidden');
        }

        function donate_on_web() {
            $('#donate').submit();
        }
    </script>
    <!-- /donate script -->
</div>
<!-- /Donate Module -->
