.about-page
    .header
        padding 40px 15px 30px

    .avatar-wrapper
        .avatar-image
            width 160px

    .info
        padding 0 20px
        p
            line-height 24px
            margin-top 25px
            margin-bottom 0
            color white
            text-shadow 1px 1px 1px #444
        .name
            font-size 1.8em
        .desc
            margin-top 15px
            font-size 1em

    .social-group
        margin-top 15px

    section
        margin-bottom 20px

    h1
        font-size 1.6rem
        margin-top 10px
        margin-bottom 15px

    // 技能
    ul.skill-list, ul.skill-list li
        list-style-type none

    ul.skill-list
        padding-left 0

    .skill-list li
        margin-bottom 0

    .split
        margin-top 5px

    .skills .fa
        margin-right 0

    // 项目
    .project-item
        display inline-block
        // margin-right 20px
        width 100%

        img
            padding 0

        .card-title
            font-weight 400
            font-size 20px
            text-shadow 1px 1px 1px black
            line-height 30px

        .card-tag
            position absolute
            top 15px
            right 10px

// 重置
.about-page.row
    margin-left 0
    margin-right 0

    .row
        margin-left 0
        margin-right 0

    // .col
    //     padding-left 0
    //     padding-right 0
