.about-page
    .header
        padding 40px 15px 30px

    .avatar-wrapper
        .avatar-image
            width 160px

    .info
        padding 0 25px
        p
            line-height 24px
            margin-top 25px
            margin-bottom 0
            color white
            text-shadow 1px 1px 1px #444
        .name
            font-size 1.8em
        .desc
            margin-top 15px
            font-size 1em

    .social-group
        margin-top 15px

    section
        margin-bottom 20px

    h1
        font-size 1.6rem
        margin-top 10px
        margin-bottom 15px

    ul, ul li
        list-style-type none

    li
        margin-bottom 0

    .split
        margin-top 5px

    .skills .fa
        margin-right 2px

    // 打赏
    img.qrcode
        width 40%
        margin-right 10px

.about-page.row
    margin-left 0
    margin-right 0

    .col
        padding-left 0
        padding-right 0
