.simple-article
    margin-bottom 30px

article
    .entry
        margin-top 20px

    .article-title h1
        font-family "微软雅黑", "sans-serif", "Helvetica Neue"
        font-size 2em
        font-weight bold
        line-height 1.4
        margin-top 0
        margin-bottom 10px
        color color-entry-subtitle

    a:not(.chip)
        color color-a
        &:hover
            color color-a-hover

    .simple-article-title h1
        font-size simple-title-font-size
        padding 5px 0

    .tags-row
        margin-top 10px

    .article-tag
        display inline-block
        height 32px
        line-height 32px
        padding 0 12px
        border-radius 16px
        color white

    header
        border-radius 0
        background none
        position relative
        padding 0
        border-bottom 0
        margin-bottom 10px

        time
            font 0.9em font-title
            margin-bottom 5px
            display block
            line-height 1

        &:hover
            color color-link

    .card-content .entry
        font-size 16px
        line-height 1.7
        @media (max-width: 480px)
            line-height 1.5em

        p
            margin-top 0
            margin-bottom 1em
            text-align justify
            text-justify inter-ideograph
            word-break initial
            word-break break-word

            &:last-child
                margin-bottom 0

        ul, ol
            margin-bottom 1em
            ul, ol
                margin-bottom 0

        h1, h2, h3, h4, h5, h6
            margin-top 0
            margin-bottom 0.5em

        h1
            font-size 1.6em
            color color-entry-subtitle

        h2
            font-size 1.4em
            color color-entry-subtitle

        h3, h4, h5, h6
            font-size 1.2em
            color color-entry-subtitle

          &.nstyle
            border-radius 0
            padding 0
            background none
            box-shadow none

        iframe
            max-width 98%

        .caption
            display block
            margin-top 5px
            color #aaa
            position relative
            font-size 0.9em
            padding-left 25px
            &:before
                content '\f040'
                position absolute
                font 1.3em font-icon
                position absolute
                left 0
                top 3px

    .toc-wrap
        float right
        -webkit-border-radius 4px
        border-radius 4px
        background #eee
        border 1px solid #ddd
        margin-left 1.5em
        margin-bottom 2em
        padding 15px 20px
        line-height 1.6em

        >ol
            margin-left 0

        ol, ul
            list-style none

    .toc-title
        font-weight bold
        font-size 1.2em
        margin-bottom 0.6em
        color #2c3e50

    .toc-number
        display none

    .toc-link
        color #0e83cd
        text-decoration none
        font-size 0.9em

    .toc-link:hover
        text-decoration underline

    .toc-child
        margin-left 1em
