article
    font-size context-font-size

    .article-title h1
        color color-title
        font-size 32px
        font-weight bold
        line-height 1.6
        margin 0
        padding 10px 0

        a
            color color-title

        a:hover
            color color-title-hover

    .article-title-big h1
        font-size 48px

    .tags-row a
        margin 2px 2px

    /* simple_article CSS start */
    .date-row
        color color-font
        margin 20px 0
        font-size 24px

    #article-excerpt
        .entry
            text-align justify
            line-height 1.6

            h1, h2, h3, h4, h5, h6
                color #222
                padding 0
                margin 0 0 20px
                line-height 1.2
    /* simple_article CSS end */                
    
    .prev, .next
        position absolute
        top 0
        width 50%
        height 100%
        cursor pointer
        &:before
            position absolute
            font 24px/1 font-icon
            text-align center
            width 24px
            text-shadow 0 0 15px rgba(0,0,0,0.5)
            color #fff
            margin-top -12px
            top 50%

    header
        border-radius 0
        background none
        position relative
        padding 0
        border-bottom 0
        margin-bottom 10px

        time
            font 0.9em font-title
            margin-bottom 5px
            display block
            line-height 1

        &:hover
            color color-link

    .entry
        text-align justify
        line-height 1.6

        h2
            color #393939

        h3, h4, h5, h6
            color #494949

        blockquote
            margin 0 -30px 20px
            padding 15px 20px 1px 40px
            font-style italic
            background #ccc
            background rgba(0, 0, 0, 0.06)
            color #222

        img, video
            max-width 98%
            border-radius 3px
            padding 5px
            background #FFFFFF
            box-shadow 0 0 8px #aaa

          &.nstyle
            border-radius 0
            padding 0
            background none
            box-shadow none

        iframe
            max-width 98%

        .caption
            display block
            margin-top 5px
            color #aaa
            position relative
            font-size 0.9em
            padding-left 25px
            &:before
                content '\f040'
                position absolute
                font 1.3em font-icon
                position absolute
                left 0
                top 3px

        code, pre
            font-family font-mono
            color #333
            font-size 1.1em
            white-space pre-wrap
            word-wrap break-word

        code
            font-size 16px
            background-color rgba(172, 172, 172, 0.4)
            padding 0
            margin 0

    pre
      color #f8f8f2

      code
        color #f8f8f2

      li &
        margin-left -60px
        padding-left 60px

    table
      width 100%
      border-collapse collapse

    th, td
      text-align left
      padding 5px 10px
      border-bottom 1px solid #aaa

    dt
      color #222
      font-weight 700

    th
      color #222

    small
      font-size 11px

    hr
      border 0
      background #aaa
      height 1px
      margin 0 0 20px

    .text-lt
      text-decoration line-through

    footer
        border-bottom 1px solid #aaa
        padding 10px 0 0 0
        padding-bottom 16px

        &.end-sep
          border-top none
          border-bottom 1px solid #aaa
          padding 0 0 10px 0

        a
          &:before
            font 1.1em font-icon
            padding-right 10px
            vertical-align middle

          &.more-link
            &:before
              content '\f054'

          &.comment-link
            &:before
              content '\f075'

        .categories, .tags
          position relative
          padding-left 25px
          margin 5px 0
          &:before
            position absolute
            font 1.1em font-icon

        .categories
          &:before
            content '\f07b'
            top 4px
            left 1px

        .tags
          &:before
            content '\f02b'
            top 5px
            left 2px