#page-footer
    font-size 20px
    margin-top 20px
    padding header-footer-height-padding 0
    background-color color-footer-background
    color color-footer-text
    overflow hidden

.footer-text a
    color color-footer-a
    font-style italic

.footer-text a:hover
    color color-footer-a-hover

.social-group
    width 5em
    font-size: 2.5em;

.social-group a
    color color-footer-text
    padding 0 4px

.social-group a:hover
    color color-footer-a-hover
