#page-footer
    font-size 1em
    background-color color-footer-background
    color color-footer-text
    overflow hidden

.footer-content
    padding header-footer-height-padding 0

.footer-text 
    padding-top 4px

.footer-text a
    color color-footer-a
    font-style italic

.footer-text a:hover
    color color-footer-a-hover

.social-group
    width 5em
    font-size: 2em;

.social-group a
    color color-footer-text
    padding 0 4px

.social-group a:hover
    color color-footer-a-hover
