#footer
  width page-width
  margin 0 auto
  padding 20px 0 0
  color #ccc
  overflow hidden

  a
    color #fff
    font-weight 900

  .copyright
    float left

  .theme-copyright
    float right

@media screen and (max-width: 740px)
  body
    padding 0
  
  .wrapper
    border-radius 0
    box-shadow none
    width 100%

  #pagination
    a
      background color-link
      color #fff
      text-decoration none
      text-shadow none
  
  #footer
    border-radius 0
    padding 20px
    width auto
    
    .copyright
      float none
      margin 0
    
    .theme-copyright
      float none

@media screen and (max-width:580px)
  #header

    .title
      float none

    .nav
      ul
        li
          margin-left 10px
  
    p
      width 100%