#nav-button-group

.navbar
    margin-bottom 0

.navbar-inner 
    min-height 55px
    padding header-footer-height-padding page-padding
    background color-header-background

.navbar .brand 
    font-size 30px
    font-weight 400
    margin-left 0

.navbar .nav>li>a
    color: #fff;

.btn-large
    padding: 19px 19px

.btn-primary
    background-color color-header-background

.btn-primary:hover, .btn-primary:focus
    background-color color-header-button-hover
