.btn-loadmore
    margin-top 20px
    opacity 0.5

.feature-guide-container
    position absolute
    left 0
    top 0
    z-index 100

.shadow
    position absolute
    background-color rgba(0, 0, 0, 0.6)

.shadow-light
    position absolute
    background-color rgba(0, 0, 0, 0)

.feature-box
    display none
    position relative
    max-width 300px
    background-color #ffebb5
    padding 16px
    color #ae2341

    .btn-i-know
        background-color #f4867b
        margin-bottom 0

    .feature-description
        font-size 1em