#pagination
  padding-bottom 20px
  a
    display block
    padding 5px 10px
    font-family font-title
    background color-link
    color #fff
    text-decoration none

  .prev
    float left
    &:before
      content '\f053'
      padding-right 10px
      font-family font-icon

  .next
    float right
    &:after
      content '\f054'
      padding-left 10px
      font-family font-icon