.jPanelMenu-panel
    overflow-y hidden

.btn-loadmore
    margin-top 20px
    opacity 0.9

.feature-guide-container
    display none
    position absolute
    left 0
    top 0
    z-index 100

.shadow
    overflow-y hidden
    position absolute
    background-color rgba(0, 0, 0, 0.6)

.shadow-light
    position absolute
    background-color rgba(0, 0, 0, 0)

.feature-box
    position relative
    max-width 300px
    background-color #ffebb5
    padding 16px
    color #ae2341

    .btn-i-know
        background-color #f4867b
        transition background-color .5s
        margin-bottom 0

    .btn-i-know:hover
        background-color #f5a69e
        transition background-color .5s

    .feature-description
        font-size 1em