.red-link-context a
    color #f44336 !important
    &:hover
        color #e57373 !important

.pink-link-context a
    color #E91E63 !important
    &:hover
        color #F06292 !important

.purple-link-context a
    color #9C27B0 !important
    &:hover
        color #BA68C8 !important

.deep-purple-link-context a
    color #673AB7 !important
    &:hover
        color #9575CD !important

.indigo-link-context a
    color #3F51B5 !important
    &:hover
        color #7986CB !important

.blue-link-context a
    color #2196F3 !important
    &:hover
        color #64B5F6 !important

.light-blue-link-context a
    color #03A9F4 !important
    &:hover
        color #4FC3F7 !important

.cyan-link-context a
    color #00BCD4 !important
    &:hover
        color #4DD0E1 !important

.teal-link-context a
    color #009688 !important
    &:hover
        color #4DB6AC !important

.green-link-context a
    color #4CAF50 !important
    &:hover
        color #81C784 !important

.light-green-link-context a
    color #8BC34A !important
    &:hover
        color #AED581 !important

.lime-link-context a
    color #CDDC39 !important
    &:hover
        color #DCE775 !important

.yellow-link-context a
    color #FFEB3B !important
    &:hover
        color #FFF176 !important

.amber-link-context a
    color #FFC107 !important
    &:hover
        color #FFD54F !important

.orange-link-context a
    color #FF9800 !important
    &:hover
        color #FFB74D !important

.deep-orange-link-context a
    color #FF5722 !important
    &:hover
        color #FF8A65 !important

.brown-link-context a
    color #795548 !important
    &:hover
        color #A1887F !important

.grey-link-context a
    color #9E9E9E !important
    &:hover
        color #E0E0E0 !important

.blue-grey-link-context a
    color #607D8B !important
    &:hover
        color #90A4AE !important
