.page-nav
    height 50px
    line-height 50px

.float-sitemap
    position fixed
    right 45px
    bottom 50px

    @media only screen and (max-width: 600px)
        right 10px
        bottom 15px

.construction-container
    display inline-block
    margin-top 40px

    .btn
        margin-top 20px

// 重置多说评论框中的checkbox被materialize库修改的样式
.ds-sync input[type="checkbox"]
    position initial
    visibility initial
    +label:before
        display none

// gallery
article .gallery .control {
    opacity: 0;
    transition: 0.3s;
}
article .gallery:hover .control {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
article .gallery .prev,
article .gallery .next {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    cursor: pointer;
}
article .gallery .prev:before,
article .gallery .next:before {
    position: absolute;
    font: 24px/1 FontAwesome;
    text-align: center;
    width: 24px;
    text-shadow: 0 0 15px rgba(0,0,0,0.5);
    color: #fff;
    margin-top: -12px;
    top: 50%;
}
article .gallery .prev {
    left: 0;
}
article .gallery .prev:before {
    content: '\f053';
    left: 10px;
}
article .gallery .next {
    right: 0;
}
article .gallery .next:before {
    content: '\f054';
    right: 10px;
}

// 无JS（一般是微信页）的样式
.noscript
    background rgba(0, 0, 0, 0.5)
    position fixed
    left 0
    top 0
    width 100%
    z-index 9999

    animation-duration: 6s;
    animation-name: noscript-slide;

    p
        margin 0
        padding 0 30px
        color white

@keyframes noscript-slide {
    0% {
        top: -100px;
    }
    50% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}

// 阅读计数与站点访客
.read-times-container
    margin-left 15px
    .fa
        margin-right 0

.site-visitors-container
    margin-top 10px
