.reading-page ul
    list-style none
    margin 0

.reading-page ul>li
    display inline-block
    margin 5px 10px 0

.book-item
    width 180px
    position relative

.book-item:hover .book-item-body
    opacity 1
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.3s;
    transition: transform 0.4s, opacity 0.3s;

.book-item-body
    position absolute
    top 0
    left 0
    padding 10px
    background #2c3e50
    height 150%
    width 200%
    z-index 2

    opacity 0
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;

.book-item-body p
    color #fff
    font-size 0.9em
    margin-bottom 0

.book-item-body .book-title
    color #2980b9
    margin-bottom 10px

.book-item-body .btn-to-douban
    position absolute
    right 0
    bottom 0
    margin 15px