.search-modal
    padding 30px 20px
    max-height 80%

    input[type=text]
        &:focus
            border-bottom-color #757575
            box-shadow 0 1px 0 0 #757575
            &+label
                color #212121

    .search-result
        margin-top 5px
        margin-bottom 15px
