color-menu-background = #232323
color-item-hover = #3498db
color-border = #333

#jPanelMenu-menu-side
    display none

#jPanelMenu-menu
    background-color color-menu-background

    .nav
        li
            padding 5px 15px
            border-bottom 1px solid color-border
            transition background-color .5s

            a
                color #ecf0f1

            a.brand
                font-size 1.1em
                font-weight bold
                padding 5px 0

        li:hover
            background-color color-item-hover
            transition background-color .5s

        li:first-child:hover
            background-color color-menu-background
            transition background-color .5s

        [class^="icon-"]
            margin-right 10px

        [class*=" icon-"]
            margin-right 10px

    .collapse-level-0
        padding-left 0px

    .collapse-level-1
        padding-left 15px

    .collapse-level-2
        padding-left 30px