.category-tag
  position fixed
  top 70px
  width 170px
  height 48px
  color white
  text-align center
  background-image url('/image/tag.png')

#sidebar
  text-shadow rgba(0,0,0,0.25) 0 2px 0
  @media screen and (max-width: 600px)
    padding 5px 10px

  a
    color #fff

  .widget
    color #fff
    word-wrap break-word
    @media screen and (max-width: 600px)
      float none
      width 100%
      margin-left 0

    &.first
      margin-left 0

    &.newline
      clear: both

    ul, ol, dl
      list-style none
      padding 0 8px 0 20px

    .entry
      padding-left 2px

    .title
      padding 0 2px 4px 16px
      font-size 22px
      font-weight normal
      border-bottom 1px solid #000
      box-shadow rgba(255,255,255,0.25) 0 1px 0

  .tag
    small
      margin-left 15px
      color #ccc
      &:before
        content '('
      &:after
        content ')'

  .tagcloud
    a
      margin-right 10px
      display inline-block