color-simple-code-background = #93AAAC

figure.highlight
    position relative
    padding 10px 20px
    margin 0

    @media screen and (max-width:580px)
        padding 10px

    pre
        border none
        padding 0 10px
        margin 0

    table
        margin 0
        border-spacing 0

    td
        padding 0
        border-bottom 0

    .gutter
        pre
            padding 0 0 0 10px
            border-right 1px solid #fff
            height 100%

pre, code 
    background color-simple-code-background

pre .keyword
    color #859900

pre .tag
    color #f8f8f2

pre
    // Theme: Monokai plus Solarized(Dark) from Sublime Text theme
    .comment
    .template_comment
    .diff .header
    .doctype
    .pi
    .lisp .string
    .javadoc
        color #75715c
        font-style italic

    .doctype
        color #268bd2

    .keyword
    .winutils
    .method
    .addition
    .css .tag
    .request
    .status
    .nginx .title
        color #66d9ef

    .number
    .command
    .phpdoc
    .tex .formula
    .regexp
    .hexcolor
        color #ae81fc

    .string
    .tag .value
        color #e6db6e

    .title
    .localvars
    .chunk
    .decorator
    .built_in
    .identifier
    .vhdl
    .literal
    .id
        color #f22672

    .attribute
    .variable
    .lisp .body
    .smalltalk .number
    .constant
    .class .title
    .parent
    .haskell .type
        color #a6e22e

    .preprocessor
    .preprocessor .keyword
    .shebang
    .symbol
    .symbol .string
    .diff .change
    .special
    .attr_selector
    .important
    .subst
    .cdata
    .clojure .title
        color #cb4b16

    .deletion
        color #dc322f