figure.highlight
  position relative
  padding 10px
  background #3A3C42
  margin 0 -20px 16px

  pre
    border none
    padding 0 10px
    margin 0

  table
    margin 0
    border-spacing 0

  td
    padding 0
    border-bottom 0

  .gutter
    display none

pre
  // Theme: Solarized - Light
  // More theme here: http://softwaremaniacs.org/media/soft/highlight/test.html
  .comment
  .template_comment
  .diff .header
  .doctype
  .pi
  .lisp .string
  .javadoc
    color #93a1a1
    font-style italic

  .keyword
  .winutils
  .method
  .addition
  .css .tag
  .request
  .status
  .nginx .title
    color #859900

  .number
  .command
  .string
  .tag .value
  .phpdoc
  .tex .formula
  .regexp
  .hexcolor
    color #2aa198

  .title
  .localvars
  .chunk
  .decorator
  .built_in
  .identifier
  .vhdl
  .literal
  .id
    color #268bd2

  .attribute
  .variable
  .lisp .body
  .smalltalk .number
  .constant
  .class .title
  .parent
  .haskell .type
    color #b58900

  .preprocessor
  .preprocessor .keyword
  .shebang
  .symbol
  .symbol .string
  .diff .change
  .special
  .attr_selector
  .important
  .subst
  .cdata
  .clojure .title
    color #cb4b16

  .deletion
    color #dc322f