.toc
    position fixed
    top 15%
    left calc(50% + 350px)

    ol
        list-style-type none
        padding-left 1em

    .section
        padding-top 2px
        padding-bottom 2px

    .table-of-contents
        a.active
            border-left-color #2196f3
            font-weight bold
        a:hover
            border-left-color #2196f3
