.toc 
    position fixed
    top 100px
    left 84%
    
    ol
        list-style-type none
        padding-left 1em
    
    .section
        padding-top 2px
        padding-bottom 2px
        
    .table-of-contents
        a.active
            border-left-color #2196f3
            font-weight bold
        a:hover
            border-left-color #2196f3
