.toc
    position fixed
    top 15%
    left calc(50% + 350px)

    ol
        list-style-type none
        padding-left 1em

    .section
        margin 2px 0
        padding-top 0
        padding-bottom 0

    .table-of-contents
        a.active
            border-left-color #2196f3
            font-weight bold
        a:hover
            border-left-color #2196f3
